.admin_content{
    color: white;
}

.admin_navigate{
    color: rgb(129, 124, 124);
}

.bigBlock_levels{
    display: flex;
    justify-content: space-between;
    /* height: 60vh;    */
   
}

.inpt_user_status{
    max-width: 110px;
    margin-right: 10px;
}

.overflow{
    overflow-y: auto;
}

@media (max-width:1280px){
    .bigBlock_levels{
        flex-direction: column;
        margin-bottom: 40px;
        align-items: center;
    }
   
  }

.admin_table_levels{
    /* background-color: rgb(255, 255, 255); */
    width: 90%; 
}

.admin_table_levels_groups{
    background-color: rgb(255, 255, 255);
    max-width: 430px; 
    min-width: 310px; 
    flex: 1 0 auto;
    margin: 0 2px; 
    
}


.create_levels_block{
    width: 310px;
    margin-top: 30px;
}