*{
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
}


/* Фон */

.start{
    width: 100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.start_gradient{
    height:calc(100vh - 130px);
    background: linear-gradient(64.86deg,
    rgba(0, 0, 0, 1),
    rgba(29, 12, 12, 1),
    rgba(38, 0, 0, 0.99),
    rgba(33, 16, 16, 0.99),
    rgba(40, 37, 37, 0.99),
    rgba(14, 40, 12, 0.85),
    rgba(14, 1, 1, 0.8),
    rgba(0, 0, 0, 0.99)
    );
}


.start_fon{
    flex: 1 0 auto;
    width: 100%;    
    background-image: url("/asset/Images/Background/fon1.png"); 
    background-position: center;
}

.contain{
    margin: 0 auto;
    max-width: 1124px;

}


/* Header */

.logo_start{
    width:200px;
    height:115px ;
    margin-left: 50px;
    margin-top: 10px;
}



.line_header{
   width:100vw;
   height: 2px;
   background-color: rgb(116, 89, 72);
   opacity: 0.4;
   
}

/* main */

.content_start{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
}

.description{
    color: rgb(205, 205, 205);
    width: 50%;
    height: 462px;
    font-family: "Roboto Mono";
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding: 50px 0 50px 0;

}
.start_rules{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.btn_rules_start{
    background-color: rgba(57, 6, 6, 0.17);
    width: 200px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(228, 175, 175, 0.23) inset, 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin-top: 30px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 16px;
   
}

.user_name_start{
    color: rgb(212, 184, 184);
    font-family:'Roboto Mono';
    font-size: 16px;
    text-align: start;
}

.icon_header_a{
    margin-right: 100px;
}

.nav-item{
    color: #ffffff;
}



@media (max-width:1280px){
    .contain{
        max-width: 85vw;
    }
   
}