* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono';
}

.tasks_content {
  position: absolute; 
  top: 160px;
  bottom: 135px; 
  border-radius: 7px;
  background: #000000CC;
  box-shadow: 0px 4px 16px 1px #FFFFFF47 inset;
  padding: 40px;
  overflow: auto;
  overflow-y: scroll;
  /* height: 75% !important; */
}

.tasks_begin_txt {
  padding-top: 30px;
  padding-bottom: 22px;
  font-size: 21px;
  font-family: 'Roboto Mono';
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.tasks_level_txt {
  height: 28px;
  top: 46px;
  left: 265px;
  float: left;
  padding-bottom: 22px;
  color: rgba(222, 211, 198, 1);
}

.tasks_section_txt {
  height: 28px;
  top: 46px;
  left: 164px;
  float: right;
  padding-bottom: 22px;
  color: rgba(222, 211, 198, 1);
}

.nutro {
  width: 100;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.group_tasks {
  width: 670px;
  margin-right: 6vw;
}

.num_group_txt {
  width: 105.94px;
  height: 24px;
  top: 122px;
  left: 200px;
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(198, 239, 199, 1);
}

.tasks {
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(222, 211, 198, 1);
  max-width: 670px;
  height: 114px;
}


.about_tasks {
  width: 244px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.knop {
  display: flex;
  height: 40px;
  box-sizing: border-box;
  justify-content: flex-start
}

.input_task {
  background-color: rgba(242, 240, 240, 0.88);
  border: 0;
  padding-left: 15px;
  width: 489.85px;
  height: 34px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0px 4px 4px 2px rgba(126, 116, 92, 0.52) inset, 0px 4px 6px 0px rgba(0, 0, 0, 0.95);  
}

.b_t {
  border: 0;
  margin-bottom: 1px;
  width: 165.77px;
  height: 34px;
  box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.95), 0px 4px 4px 1px rgba(236, 248, 237, 0.61) inset;
  background-color: rgba(99, 205, 103, 1);
  border-radius: 0 4px 4px 0;
}

.about_section {
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(236, 248, 237, 0.61);
}

.about_group {
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: justify;
  color: rgba(236, 248, 237, 0.61);
  margin-top: 50px;
  flex-grow: 1;
}

.ab_but {
  display: flex;
  margin-top: 50px;
}

.button_clue {
  width: 137px;
  height: 30px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.3) inset, 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(64, 144, 67, 0.5);
  color: rgba(245, 245, 245, 1);
  margin-right: 5px;
  border-radius: 4px;
}

.tasks_content::-webkit-scrollbar {
  width: 8px;
  border: 1px solid rgba(170, 169, 169, 0.56);
  border-radius: 3px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.tasks_content::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgba(60, 37, 37, 0.56), rgba(60, 37, 37, 0.56)),
      linear-gradient(0deg, rgba(60, 37, 37, 0.43), rgba(60, 37, 37, 0.43));
  border-radius: 3px;  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 1px 6px 4px 0px rgba(245, 245, 245, 0.5) inset;
}

.dalee {
  width: 137px;
  height: 30px;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.3) inset, 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(118, 91, 91, 0.6);
  color: rgba(245, 245, 245, 1);
  border-radius: 4px;
 }

 .icon_task_dalee{
  width: 25px;

 }