* {
  margin: 0;
  padding: 0;
}


.footer {
  padding: 10px 0;
  height: 130px;
  background-color: black;
  color: darkgrey;
  border-top: 3px solid;
  border-color: rgba(118, 91, 91, 1);
  display: flex; 
  flex-direction: row; 
  align-items:center
}

.footer_content{
 display: flex;
 align-items:center;
 justify-content:space-around;
 width: 100%;

}

.copyright_block{
  font-size: 16px;  
}

.team_footer{
  font-size: 14px;
  color: rgb(173, 146, 146);
  font-weight: 500;
}

.icon_footer{
  margin-right: 6px;
}


@media (max-width:439px){
  .copyright_block{
    font-size: 14px;  
  }

  .footer_content{
    flex-direction: column;
  }
  .team_footer{
    font-size: 12px;
  }
  .icon_footer{
    margin-right: 4px;
    width: 15px;
    height: 15px;
  }

  .contacts_block p{
    font-size: 12px;
    
  }
}