* {
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}



.header {
  box-sizing: border-box;
  height: 85px;
  width: 100vw;
  box-shadow: 0px 4px 4px black;
  color: darkgrey;

}


.gradient_header {
  background: linear-gradient(10deg,
      rgba(0, 0, 0, 1),
      rgba(29, 12, 12, 1),
      rgba(38, 0, 0, 0.97),
      rgba(33, 16, 16, 0.97),
      rgba(40, 37, 37, 0.9036),
      rgba(14, 40, 12, 0.76),
      rgba(14, 1, 1, 0.7942),
      rgba(0, 0, 0, 0.99));
}


.contain_header {
  max-width: 1024px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}


.icon_block_header {
  min-width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.logo_sm {
  font-family: "Anonymous Pro";
  color: white;
  font-weight: 400;
}

.logo_sm_regexp {
  font-size: 37px;
  /* margin-top: 13px;  */
}

.logo_sm_master {
  font-size: 16px;
  margin-left: 63px;
  margin-top: -14px;
}




.icon_header {
  width: 30px;
  height: 30px;
  margin-left: 50px;
}
