*{
    margin: 0;
    padding: 0;
}

.register_login_comp{
    display: flex;
  
}


.register_component{
    width: 216px;
    height: 40px;
    background-color: rgba(47, 7, 7, 0.6);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.3) inset, 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0 5px 5px 0 ;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto Mono";
}

.log_component{
    margin: 0;
    width: 216px;
    height: 40px;
    background-color: rgba(64, 144, 67, 0.6);
    box-shadow:0px 4px 4px 0px rgba(228, 175, 175, 0.5) inset, 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px 0 0 5px ;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto Mono";
    
}